In [82]:
%matplotlib inline
import pandas as pd
import numpy as np
import pylab as plt

df = pd.read_excel('data/weatherAUS.xlsx')
#df.head(10) #<- shows the first 10 entries
#time dependent data

In [83]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [85]:
df.shape

(142193, 24)

In [95]:
X = df.loc[df['Location'] == 'Canberra']

In [96]:
X.shape

(3418, 24)

In [97]:
X.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
44351,2007-11-01,Canberra,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,...,29.0,1019.7,1015.0,7.0,7.0,14.4,23.6,No,3.6,Yes
44352,2007-11-02,Canberra,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,...,36.0,1012.4,1008.4,5.0,3.0,17.5,25.7,Yes,3.6,Yes
44353,2007-11-03,Canberra,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,...,69.0,1009.5,1007.2,8.0,7.0,15.4,20.2,Yes,39.8,Yes
44354,2007-11-04,Canberra,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,...,56.0,1005.5,1007.0,2.0,7.0,13.5,14.1,Yes,2.8,Yes
44355,2007-11-05,Canberra,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,...,49.0,1018.3,1018.5,7.0,7.0,11.1,15.4,Yes,0.0,No

In [98]:
X.count().sort_values()

Sunshine         1512
Evaporation      1823
Cloud3pm         2164
Cloud9am         2352
WindDir9am       2882
WindGustDir      3089
WindGustSpeed    3091
WindDir3pm       3190
WindSpeed9am     3190
Pressure9am      3194
WindSpeed3pm     3195
Pressure3pm      3198
Humidity9am      3357
Temp9am          3401
RainToday        3402
Rainfall         3402
Humidity3pm      3406
Temp3pm          3411
MinTemp          3413
MaxTemp          3415
Date             3418
Location         3418
RISK_MM          3418
RainTomorrow     3418
dtype: int64

In [99]:
X = X.drop(columns=['Evaporation','Sunshine','RainTomorrow'],axis=1)

In [100]:
X.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM
44351,2007-11-01,Canberra,8.0,24.3,0.0,NW,30.0,SW,NW,6.0,...,68.0,29.0,1019.7,1015.0,7.0,7.0,14.4,23.6,No,3.6
44352,2007-11-02,Canberra,14.0,26.9,3.6,ENE,39.0,E,W,4.0,...,80.0,36.0,1012.4,1008.4,5.0,3.0,17.5,25.7,Yes,3.6
44353,2007-11-03,Canberra,13.7,23.4,3.6,NW,85.0,N,NNE,6.0,...,82.0,69.0,1009.5,1007.2,8.0,7.0,15.4,20.2,Yes,39.8
44354,2007-11-04,Canberra,13.3,15.5,39.8,NW,54.0,WNW,W,30.0,...,62.0,56.0,1005.5,1007.0,2.0,7.0,13.5,14.1,Yes,2.8
44355,2007-11-05,Canberra,7.6,16.1,2.8,SSE,50.0,SSE,ESE,20.0,...,68.0,49.0,1018.3,1018.5,7.0,7.0,11.1,15.4,Yes,0.0

In [101]:
Y = X.RISK_MM
X = X.drop('RISK_MM',axis=1)

In [109]:
print(Y.shape)
X.shape

(3418,)

(3418, 20)

In [110]:
X = X.fillna(0)

In [111]:
X.count().sort_values()

Date             3418
Temp9am          3418
Cloud3pm         3418
Cloud9am         3418
Pressure3pm      3418
Pressure9am      3418
Humidity3pm      3418
Humidity9am      3418
WindSpeed3pm     3418
WindSpeed9am     3418
WindDir3pm       3418
WindDir9am       3418
WindGustSpeed    3418
WindGustDir      3418
Rainfall         3418
MaxTemp          3418
MinTemp          3418
Location         3418
Temp3pm          3418
RainToday        3418
dtype: int64